<a href="https://colab.research.google.com/github/Ohsohyun/code_3rd/blob/main/CTA_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 배열의 선언
 - 일반 변수의 선언: 변수명 = 변수의 값
 - 배열의 변수 선언: 변수명 = [ , , ]

In [4]:
movie_list = ["아바타", "타이타닉", "스타워즈", "주라기월드", "어벤저스"]
print(movie_list[0])
print(movie_list[4])

아바타
어벤저스

2. 요일을 배열로 선언하라.
 - 변수명: day_list
 * 요일 : 월(mon), 화(Tues), 수(Wed.), 목(Thur.), 금(Fri.), 토(Sat.), 일(Sun.)

In [12]:
day_list = ["월(mon)", "화(Tues)", "수(Wed.)", "목(Thur.)", "금(Fri.)", "토(Sat.)", "일(Sun.)"]
print(day_list[0])
print(day_list[1])

월(mon)
화(Tues)